# ignore build directory
build/
.vscode/launch.json
.vscode/settings.json
.vscode/c_cpp_properties.json
policy_manager/*.o
policy_manager/cib
policy_manager/pib
policy_manager/build
policy_manager/ErrorLog.txt
policy_manager/test.out
policy_manager/neat_pm.service
*.cib
